.composition {
    width: 600px;
    height: 400px;
    position: relative;
    background: url("https://htmlbase.ru/storage/app/media/position-task1/bg.jpg");
  }

  .planet-1{
    position: absolute;
   left: 180px;
   top: 20px;
 }
  
 .planet-2 {
  position: absolute;
  left: 40px;
  top: 60px;
 }

 .spaceship {
  position: absolute;
  top: 180px;
  left: 100px;
}


 .planet-3 {
  position: absolute;
  top: 140px;
 left: 120px;
 z-index: 1;
  
  }



   .asteroid {
    position: absolute;
    top: 100px;
    left: 450px;
   }

   .ufo {
    position: absolute;
  top: 300px;
  left: 90px;
  z-index: 2;
   }

   .superman {
    position: absolute;
   top: 328px;
    left: 490px;
   }