.nav {
  background-color: rgb(53, 49, 49);
  border-bottom: 8px solid #2248ef;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__list__item {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.nav__link {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.nav__link:hover {
  background-color: #2248ef;
}

.nav__link:focus {
  background-color: #2248ef;
}

.nav__product::after {
  content: "";
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
}

.nav__list__item:hover .product__list,
.product__list__item.product__menu:hover .sub-item__list {
  display: block;
}

.product__list {
  display: none;
  position: absolute;
  top: 120%;
  left: 0;
  background-color: #2248ef;
  padding: 0px;
  min-width: 150px;
}

.sub-item__list {
  display: none;
  position: absolute;
  top: 50%;
  left: 100%;
  background-color: #2248ef;
  padding: 0px;
  min-width: 150px;
}

.product__list__item {
  padding: 12px;
  border: 1px solid rgb(147, 134, 230);
}

.product__list__item,
.sub-item__list {
  list-style: none;
  margin: 0;
  color: white;
}

.product__list__item:hover,
.sub-item__list .product__list__item:hover {
  background-color: #2248ef;
}
