@media screen and (max-width: 768px) {
  .navigation__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}


@media screen and (max-width: 768px) {
  .navigation__list__item {
    margin-right: 20px;
  }
  .navigation__list__item:not(:first-child) {
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 768px) {
  .navigation__button {
    width: 80px;
  }
}

/* main-container */

@media screen and (max-width: 768px) {
  .main-wrapper {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding-top: 50px;
  }
}


@media screen and (max-width: 768px) {
  .main-section__paragraph {
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .main-section-img {
    padding-top: 110px;
  }
}

/* companies-container */

@media screen and (max-width: 768px) {
  .companies {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .companies-section__paragraph {
    line-height: 50px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 992px) {
  .companies-section__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

@media screen and (max-width: 768px) {
  .companies-section__img {
    padding-right: 0;
  }
}

/* instruction-container */

@media screen and (max-width: 768px) {
  .instruction {
    padding: 50px 10px 50px;
  }
}

@media screen and (max-width: 768px) {
  .instruction-section-process__header {
    line-height: 40px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .instruction-section-process__paragraph {
    line-height: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .instruction-section-process__link {
    line-height: 20px;
  }
}

@media screen and (max-width: 992px) {
  .instruction-section-process__picture {
    width: 100%;
  }

  .instruction-section-process__img:nth-child(2n + 1) {
    margin-right: 50px;
  }
}

/* application-container */

@media screen and (max-width: 768px) {
  .application {
    text-align: center;
    padding: 50px 10px;
  }
}

@media screen and (max-width: 768px) {
  .application-section__header {
    line-height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .application-section__cards__header {
    line-height: 25px;
  }
}

@media screen and (max-width: 768px) {
  .application-section__cards__paragraph {
    line-height: 20px;
  }
}

/* productivity-container */

@media screen and (max-width: 768px) {
  .productivity {
    padding: 50px 10px;
  }
}

@media screen and (max-width: 768px) {
  .productivity-section__paragraph {
    line-height: 40px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 992px) {
  .productivity-section__list {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .productivity-section__item {
    width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .productivity-section__header {
    line-height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .productivity-section__list__paragraph {
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .productivity-section__link {
    line-height: 20px;
  }
}

/* quet-container */

@media screen and (max-width: 768px) {
  .quet {
    padding: 50px 0;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .quet-section__paragraph {
    line-height: 30px;
  }
}

/* software-container */

@media screen and (max-width: 992px) {
  .software {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .software {
    padding: 50px 0;
  }
}

@media screen and (max-width: 992px) {
  .software-section__cake {
    grid-column-end: span 4;
    border: 0;
  }
}

@media screen and (max-width: 768px) {
  .software-section__header {
    line-height: 30px;
  }
}

@media screen and (max-width: 992px) {
  .software-section__stars {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .software-section__stars-logo {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (max-width: 768px) {
  .software-section__stars-logo {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (max-width: 768px) {
  .software-section__stars-img {
    width: 80%;
  }
}

/* integration-container */

@media screen and (max-width: 768px) {
  .integration {
    padding: 50px 0;
  }
}

@media screen and (max-width: 768px) {
  .integration-section__header {
    line-height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .integration-section__paragraph {
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .integration-section__img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .integration-section__button {
    width: 150px;
    height: 40px;
  }
}

/* localization-container */

@media screen and (max-width: 768px) {
  .localization {
    padding: 50px;
  }
}

@media screen and (max-width: 768px) {
  .localization-section__header {
    line-height: 30px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .localization-section__paragraph {
    line-height: 20px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .localization-section__button {
    width: 120px;
  }
}

@media screen and (max-width: 768px) {
  .localization-section__link {
    line-height: 40px;
  }
}

/* footer-container */

@media screen and (max-width: 768px) {
  .footer__wrapper {
    padding: 50px 0px;
  }
}

@media screen and (max-width: 768px) {
  .footer-section__studies__header {
    line-height: 20px;
    padding-bottom: 18px;
  }
}

@media screen and (max-width: 768px) {
  .footer-section__studies__img {
    margin-bottom: 21px;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .footer-section__studies__link {
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .footer__navigation-studies__header {
    line-height: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .footer__navigation-studies__item {
    margin-bottom: 10px;
    margin-right: 15px;
  }
}
